{% extends 'base.html' %}

{% load static %}


{% block style %}
<!-- <style>
    html {
        font-size: 62.35%;
    }

    body {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        background-color: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #161c2d;
        overflow: hidden;
        position: relative !important;

    }

    :root {
        --textColorBlue: #5492FF;
        --textColorWhite: #fffdfd;
        --headerColor: #163266;
        --leftbgColor: #163266;
        --leftColor: #c0d3f7;
        --mainBgColor: #F2F6FC;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    p {
        padding: 0;

        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    input:focus {
        outline: none;
    }

    .img {
        display: block;
        max-width: 100%;
    }

    .page {
        overflow: hidden;
    }

    /* Container */

    .container {
        width: 100%;
        /* max-width: 1350px; */
        margin: 0 auto;
        padding: 0 25px;

        /* position: relative!important; */
    }


    /* Header */


    .header__inner {
        display: flex;

        justify-content: space-between;
    }

    .left__content {
        width: 500px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;

        padding: 20px;
    }


    .right__content {
        width: calc(100% - 520px);
        height: 100vh;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: var(--mainBgColor);

        border-radius: 15px;

    }

    .left {
        background-color: var(--mainBgColor);

        border-radius: 15px;

        padding: 20px 20px;

        margin-bottom: 35px;
    }

    .header__me .avatar {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }

    .user_name {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        margin-right: 15px;
    }

    .search {
        width: 100%;

        padding: 13px 20px;

        border: none;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.03);
    }

    .search::placeholder {
        color: gray;
        font-size: 14px;
        letter-spacing: .80px;
    }

    .scroll_me {
        width: 100%;
        border-radius: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .left__content {
        overflow-y: scroll;
        mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        mask-size: 100% 20000px;
        mask-position: left bottom;
        -webkit-mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        -webkit-mask-size: 100% 20000px;
        -webkit-mask-position: left bottom;
        transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    }

    .left__content:hover {
        -webkit-mask-position: left bottom;
    }


    .right__content {
        overflow-y: scroll;
        mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        mask-size: 100% 20000px;
        mask-position: left bottom;
        -webkit-mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        -webkit-mask-size: 100% 20000px;
        -webkit-mask-position: left bottom;
        transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    }

    .right__content:hover {
        -webkit-mask-position: left bottom;
    }



    .scroll_me img {
        margin-right: 20px;
        padding: 14px 0;
    }

    .scroll_me:hover {
        background-color: var(--mainBgColor);
    }

    /* .scroll_me: */

    /* Right Header */

    .right__header {
        width: 100%;
        background-color: #fff;

        margin-top: 20px;

        padding: 20px 20px;
        border-radius: 10px;

        margin-bottom: 30px;
    }

    .right__content>.group__name {
        color: black;
    }


    .right__message {
        width: 100%;
        max-width: 1000px;
        /* margin-left: 50%;
        transform: translateX(-50%); */
        /* margin: 0 auto; */
        position: fixed;
        bottom: 30px;
        left: 35%;
        transform: translate3d(0, 0, 0);
    }

    .send_message {
        width: 100%;
        border: none;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.0290);

        color: black;
        font-size: 18px;
    }

    .send_message:focus {
        outline: none;
    }

    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    table {
        width: 100%;
    }

    .flex_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .flex_left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .message-send-right {
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        background-color: #19233B;
        color: white;
    }

    .message-send-left {
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        background-color: #fff;
        color: black;
        margin-right: 10px;
    }

    .main-message-chat {
        margin-top: 40px;
    }

    .scroll_me.active {
        background-color: var(--mainBgColor);
    }

    /* Modal */

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000000;
        padding: 30px 15px;
        overflow: auto;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .modal.show {
        display: block;
    }

    .modal__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }

    .modal__content {
        background-color: var(--mainBgColor);
        width: 100%;
        max-width: 400px;
        padding: 25px;
        position: relative;
        transform: rotate(360deg);
        transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    }

    .setting {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
    }

    .upload__img>img {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .user__input {
        width: 100%;
        margin-bottom: 12px;
        padding: 12px 12px;

        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .user__btn {
        display: flex;
        padding: 10px 35px;

        margin-top: 20px;

        border-radius: 5px;
        border: 1px solid black;
        color: black;

        background: transparent;
    }

    .close__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: -35px;
        right: -55px;

        transition: all .2s linear;
    }

    .close__btn:hover {
        transform: rotate(45deg);
    }

    .td_right {
        position: relative !important;
    }

    .on {
        width: 100%;
        list-style: none;
        margin: 0;
        margin-top: 10px;
        padding: 10px 0;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        display: none;

        position: absolute;
        top: 100%;
        z-index: 10000;

        transition: all .2s linear;
    }

    .on:hover {
        background-color: rgb(215, 214, 214);
    }

    .on.block {
        display: block;
    }

    .modal__user.show {
        display: block;
    }

    .edit {
        width: 100%;
        max-width: 150px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
    }
</style> -->

{% endblock %}

{% block content %}

<div class="page">
    <div class="left__content">
        <div class="left">
            {% if request.user.is_authenticated %}
            <div class="header__me">
                <img class="avatar" width="60" src="{{ request.user.profile.avatar.url }}" alt="">
                <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                    <h3 class="header__name user_name">{{request.user.email}}</h3>
                    <a class="set_btn" href="#"><img width="25" src="{% static 'img/settings.png' %}" alt=""></a>
                </div>
            </div>
            {% endif %}
            <div style="padding: 0 20px;">
                <form action="{% url 'main' %}" method="get">
                    {% csrf_token %}
                    <input class="search" type="text" placeholder="Search....." name="searched">

                </form>
            </div>

            <a href="{% url 'roomForm' %}">Rooms</a>
        </div>
        {% for user in users %}
        <div class="s">
            <div class="header__me scroll_me" id="scroll_me" style="cursor: pointer;">
                <img width="60" src="{% static 'img/icons8-account-48.png' %}" alt="">
                <a class="user" id="user" href="{% url 'chat' user.username%}">
                    <h3 class="header__name">
                        {{user.username}}
                    </h3>
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="right__content">
        <div class="container">
            <div class="right__header" id="parent">
                <a href="#" style="text-decoration: none;" id="NameA">
                    <h3 id="Name" class="group__name">{{user}}</h3>
                </a>
            </div>
            <div class="main-message-chat message-table-scroll" style="width: 100%; max-width: 100%;">
                <table class="table">
                    <tbody id='chat-body'>
                        {% for message in messages %}
                        {% if message.sender == request.user.username %}
                        <tr class="flex_right">
                            <td class="td_right">
                                <p
                                    class="message-send-right bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                                    {{message.message}}
                                </p>
                                <ul class="on">
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </td>
                            <td>
                                <p><small class="p-1 shadow-sm"
                                        style="margin-left: 10px;">{{message.timestamp|time:'H:i'}}</small></p>
                            </td>

                        </tr>
                        {% else %}
                        <tr class="flex_left">
                            <td>
                                <p
                                    class="message-send-left bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                    {{message.message}}
                                </p>
                            </td>
                            <td>
                                <p><small class="p-1 shadow-sm">{{message.timestamp|time:'H:i'}}</small></p>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="right__message">
                <div class="col-sm-8">
                    <input type="text" class="send_message" id="message_input" placeholder="Write message...">
                </div>
                <div class="col-sm-2 mt-1">
                    <div class="control">
                        <button class="btn btn-success" id="chat-message-submit"
                            style="border: none; background-color: transparent; cursor: pointer;" type="submit">

                            <img width="30" src="{% static 'img/icons8-email-send-32.png' %}" alt="">

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal__inner">
        <div class="modal__content">
            <h3 class="setting">Setting</h3>
            <a class="upload__img" href="#">
                <img width="100" style="border-radius: 50%;" src="{{ request.user.profile.avatar.url }}" alt="">
            </a>

            {% if request.user.is_authenticated %}

            <form class="user__form" action="" method="POST">
                {% csrf_token %}
                <div>
                    <input class="user__input" id="name" value="{{request.user.username}}" type="text" readonly>
                </div>
                <div>
                    <input class="user__input" id="last" value="{{request.user.last_name}}" type="text" readonly>
                </div>
                <div>
                    <input class="user__input" id="email" value="{{request.user.email}}" type="text" readonly>
                </div>
                <div style="display: flex; justify-content: space-around;">
                   <a class="edit" href="{% url 'logout' %}"
                            style="text-decoration: none; color: black; font-weight: bold;">Logout</a>
                    <a class="edit" href="{% url 'changeProfile' %}"
                            style="text-decoration: none; color: black; font-weight: bold;">Edit</a>
                </div>
            </form>
            {% endif %}

            <button class="close__btn" href="#"><img width="28" src="{% static 'img/close.png' %}" alt=""></button>
        </div>
    </div>
</div>


<div class="modal modal__user">
    <div class="modal__inner">
        <div class="modal__content">
            <a class="upload__img" href="#">
                <img width="100" style="border-radius: 50%;" src="{% static 'img/account.png' %}" alt="">
            </a>

            {% if request.user.is_authenticated %}

            <form class="user__form" action="" method="POST">
                {% csrf_token %}
                <div>
                    <input class="user__input" id="username" value="{{user.username}}" type="text" readonly>
                </div>
                <div>
                    <input class="user__input" id="useremail" value="{{user.email}}" type="text" readonly>
                </div>
            </form>
            {% endif %}

            <button class="close__btn user_btn" href="#"><img width="28" src="{% static 'img/close.png' %}" alt=""></button>
        </div>
    </div>
</div>


{{user.id|json_script:"json-username"}}
{{user.username|json_script:"json-name"}}
{{user.email|json_script:"json-email"}}
{{request.user.username|json_script:"json-message-username"}}


{% endblock %}


{% block javascript %}
<!-- Script -->



<!-- <script type="text/javascript">
    const id = JSON.parse(document.getElementById('json-username').textContent);
    const message_username = JSON.parse(document.getElementById('json-message-username').textContent);
    

    const socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + id
        + '/'
    );

    socket.onopen = function (e) {
        console.log("CONNECTION ESTABLISHED");
    }

    socket.onclose = function (e) {
        console.log("CONNECTION LOST");
    }

    socket.onerror = function (e) {
        console.log("ERROR OCCURED");
    }

    socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const date = new Date('min')
        console.log(date)
        // console.log(e)
        
    //    if (data.username) {
    //        data.username.sort((a, b) => a - b)
    //    }

        if (data.username == message_username) {
            document.querySelector('#chat-body').innerHTML += `<tr class="flex_right">
                                                                <td>
                                                                <p class="message-send-right bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">${data.message}</p>
                                                                </td>
                                                            </tr>`
        } else {
            document.querySelector('#chat-body').innerHTML += `<tr class="flex_left">
                                                                <td>
                                                                <p class="message-send-left bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">${data.message}</p>
                                                                </td>
                                                            </tr>`
        }
    }

    document.querySelector('#chat-message-submit').onclick = function (e) {

        const message_input = document.querySelector('#message_input');
        const message = message_input.value;

        socket.send(JSON.stringify({
            'message': message,
            'username': message_username
        }));
        console.log(e)
        message_input.value = '';
    }

</script> -->

<!-- Modal -->
<!-- 
<script>
    let modal = document.querySelector('.modal');
    let close__btn = document.querySelector('.close__btn');
    let user_btn = document.querySelector('.user_btn');
    let set_btn = document.querySelector('.set_btn');
    let message_right = document.querySelectorAll('.message-send-right');
    let on = document.querySelector('.on')
    const username = JSON.parse(document.getElementById('json-name').textContent);
    const email = JSON.parse(document.getElementById('json-email').textContent);
    let userModal = document.querySelector('.modal__user')
    let userName = document.querySelectorAll('#Name')

    set_btn.addEventListener('click', (e) => {
        e.preventDefault();
        console.log('click')
        modal.classList.toggle('show')
    })

    close__btn.addEventListener('click', (e) => {
        e.preventDefault()
        modal.classList.toggle('show');
    })


    // Rigth Mouse

    for (let i = 0; i < message_right.length; i++) {

        message_right[i].addEventListener('contextmenu', (e) => {
            e.preventDefault();

            on.classList.toggle('block')

        })

    }

    // User_Modal

    for (let i = 0; i < userName.length; i++) {
        userName[i].addEventListener('click', (e) => {
            e.preventDefault()
            userModal.classList.toggle('show')
        })
    }

    user_btn.addEventListener('click', (e) => {
        e.preventDefault()
        userModal.classList.toggle('show');
    })

</script> -->


{% endblock %}