{% extends 'base.html' %}

{% load static %}


{% block style %}
<style>
    html {
        font-size: 62.35%;
    }
    button {
        border: none !important;
        outline: none;
        background-color: inherit;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Ubuntu', sans-serif;
        color: #161c2d;
        overflow: hidden;
        position: relative !important;

    }

    :root {
        --textColorBlue: #5492FF;
        --textColorWhite: #fffdfd;
        --headerColor: #163266;
        --leftbgColor: #163266;
        --leftColor: #c0d3f7;
        --mainBgColor: #F2F6FC;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    p {
        padding: 0;

        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    input:focus {
        outline: none;
    }

    .img {
        display: block;
        max-width: 100%;
    }

    .page {
        overflow: hidden;
    }

    /* Container */

    .container {
        width: 100%;
        /* max-width: 1350px; */
        margin: 0 auto;
        padding: 0 25px;

        /* position: relative!important; */
    }


    /* Header */


    .header__inner {
        display: flex;

        justify-content: space-between;
    }

    .left__content {
        width: 500px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        
        padding: 20px;
    }


    .right__content {
        width: calc(100% - 520px);
        height: 100vh;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: var(--mainBgColor);

        border-radius: 15px;

    }

    .left {
        background-color: var(--mainBgColor);
        color:#161c2d;
        border-radius: 15px;

        padding: 20px 20px;

        margin-bottom: 35px;
    }
    
    .header__me .avatar {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }

    .user_name {
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        margin-right: 15px;
    }

    .search {
        width: 100%;

        padding: 13px 20px;

        border: none;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.03);
    }

    .search::placeholder {
        color: gray;
        font-size: 14px;
        letter-spacing: .80px;
    }

    .scroll_me {
        width: 100%;
        border-radius: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .left__content {
        overflow-y: scroll;
        mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        mask-size: 100% 20000px;
        mask-position: left bottom;
        -webkit-mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        -webkit-mask-size: 100% 20000px;
        -webkit-mask-position: left bottom;
        transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    }

    .left__content:hover {
        -webkit-mask-position: left bottom;
    }


    .right__content {
        overflow-y: scroll;
        mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        mask-size: 100% 20000px;
        mask-position: left bottom;
        -webkit-mask-image: linear-gradient(to top, transparent, rgb(100, 100, 100)),
            linear-gradient(to left, transparent 17px, rgb(100, 100, 100) 17px);
        -webkit-mask-size: 100% 20000px;
        -webkit-mask-position: left bottom;
        transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    }

    .right__content:hover {
        -webkit-mask-position: left bottom;
    }



    .scroll_me img {
        margin-right: 20px;
        padding: 14px 0;
    }

    .scroll_me:hover {
        background-color: var(--mainBgColor);
    }

    /* .scroll_me: */

    /* Right Header */

    .right__header {
        width: 100%;
        background-color: #fff;

        margin-top: 20px;

        padding: 20px 20px;
        border-radius: 10px;

        margin-bottom: 30px;
    }

    .right__content>.group__name {
        color: black;
        font-family:sans-serif;
    }


    .right__message {
        width: 100%;
        max-width: 1000px;
        /* margin-left: 50%;
        transform: translateX(-50%); */
        /* margin: 0 auto; */
        position: fixed;
        bottom: 30px;
        left: 35%;
        transform: translate3d(0, 0, 0);
    }

    .send_message {
        width: 100%;
        border: none;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.0290);

        color: black;
        font-size: 18px;
    }

    .send_message:focus {
        outline: none;
    }

    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    table {
        width: 100%;
    }

    .flex_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .flex_left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .message-send-right {
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        background-color: #19233B;
        color: white;
    }

    .message-send-left {
        padding: 10px 20px;
        border-radius: 10px 10px 0 10px;
        background-color: #fff;
        color: black;
        margin-right: 10px;
    }

    .main-message-chat {
        margin-top: 40px;
    }

    .scroll_me.active {
        background-color: var(--mainBgColor);
    }
    .sel_u{
        text-align: center;
        justify-content: center;
        margin-top: 400px;
        font-weight:lighter;
    }
    .modal1 {
        display: none; /* Скрыто по умолчанию */
        background-color: rgb(0,0,0); /* Затемнение фона */
        background-color: rgba(0,0,0,0.5); /* Полупрозрачное затемнение */
        z-index: 1; /* Фон на нижнем слое */
        overflow: auto; /* При необходимости, то появиться прокрутка */
      }
  
    .modal-content {

    animation-name: animate;
  
    animation-duration: 0.5s
  
    } 
    @keyframes animate {
    from {top:-320px; opacity:0}
    to {top:0; opacity:1}
    }
    .close {
    font-size:  30px;
    font-weight:  bold;
    }
    .star{
        margin-right: 18px;
    }
</style>

{% endblock %}

{% block content %}

<div class="page">
    <div class="left__content">
        <br>
        <br>
        <div class="sduchat" style="display:flex; justify-content:flex-start">
            <img width="40px" src="{% static 'img/chat-svgrepo-com.svg' %}" alt="logo">

        <h1 style="margin-left: 20px;" >    SDUCHAT</h1></div>
        <br><br>
        <div class="left">
            {% if request.user.is_authenticated %}
            <div class="header__me">
                <img class="avatar" width="60" src="{{ request.user.profile.avatar.url }}" alt="">
                <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                    <a class="star" href="{% url 'starreds' %}"> <img width="25" src="{% static 'img/star-filled.svg' %}" alt=""> </a>

                    <h3 class="header__name user_name">{{request.user.email}}</h3>
                    <a class="set_btn" href="#"><img width="25" src="{% static 'img/setting-png-icon-free-download-292049.png' %}" alt=""></a>
                </div>
            </div>
            {% endif %}


            
        
            
         


            <div style="padding: 0 20px;">
                <form action="." method="get">
                    {% csrf_token %}
                    <input class="search" type="text" placeholder="Search....." name="searched">
                </form>
            </div>
        </div>
        {% for a in request.user.profile.star_user.all %}
        <div class="s">
            <div class="header__me scroll_me" id="scroll_me" style="cursor: pointer; display: flex; justify-content: space-between;">
                <div style="display: flex; text-align:center;">
                    <img width="60" src="{% static 'img/icons8-account-48.png' %}" alt="">
                    <a class="user" id="user" href="{% url 'chat' user.username%}">
                        <h3 class="header__name" style="margin: 35px 0;">
                            {{a.user.username}}
                            
                        </h3>
                    </a>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <button onclick="postdata(this)" value="{{ user.pk }}" style="width: 20px; height: 20px; border: 1px solid black;" type="button" >
                        {% if user.username in request.user.profile.star_user.all %}
                                <img id="{{ user.pk }}" src="{% static 'img/star-filled.svg' %}" width='20px' alt="star" style="margin-top: -16px; margin-left: -7px;">
                            {% else %}
                                <img id="{{ user.pk }}" src="{% static 'img/star-filled.svg' %}"  width='20px' alt="star-filled" style="margin-top: -16px; margin-left: -7px;">
                            {% endif %}
                    </button>
                </form>

                
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="right__content">
        <div class="container">
            <div class="right__header" id="parent">
                <a href="#" style="text-decoration: none;" id="NameA">
                    <h1 id="Name" class="group__name">Hey,  {{user}} !!!</h1>
                </a>
                <!-- <a class="set_btn" href="#"><img width="30" src="{% static 'img/settings.png' %}" alt=""></a> -->


             </div>
             <div class="sel_u">
                  <h2 >select friend to write a messsage</h2>
             </div>
              
           
            </div>
        </div>

       
          
            
    </div>
</div>
{% endblock %}


{% block javascript %}
<!-- Script -->



<script type="text/javascript">

    function postdata(link) {
        var elem = document.getElementById("a" + $(link).val());
        if (elem.src == 'http://localhost:8000/static/img/star-filled.svg') {
            elem.src = "/static/img/star-svgrepo-com.svg";
        }
        else {
            elem.src = "/static/img/star-filled.svg";
        }
        $.ajax({
            type:"POST",
            url:"/add_star/",
            data:{
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'id': $(link).val(),
            },
            datatype:'json'
        });
    }

    // let btn = document.querySelector('.set_btn');
    // let close = document.querySelector('.close__btn');
    // let modal = document.querySelector('.profile__modal');
    // let change = document.querySelector('.user__btn');
    // let name = document.getElementById('name')

    // btn.addEventListener('click', () => {

    //     modal.classList.toggle('show');
    // })

    // close.addEventListener('click', () => {

    //     modal.classList.remove('show');
    // })

    // Modal Info 

    // let item = [{% for item in people %} "{{ item.email }}", {% endfor %}]

    // let online = 'online'

    // item.forEach((item, index) => {
    //     name.innerHTML = `<h3 id="name" class="group__name" style="color: white;">${item}<br><span>${online}</span></h3>`
    // })

    // function showEmail(email) {
    //     let parent = document.getElementById("Name");
    //     let parentA = document.getElementById("NameA");

    //     Name.innerHTML = email;

    // }

   

</script>


{% endblock %}